.absolute_parent{
  position: relative;
  top: 0px;
  left: 0px;
}

.商品{
  position: absolute;
  top: 140px;
  left: 330px;
  font-size: 200%;
}

.商品画像{
  position: absolute;
  top: 200px;
  left: 230px;
}

.詳細{
  position: absolute;
  top: 250px;
  left: 500px;
  font-size: 150%;
}

.買い物を続ける{
  position: absolute;
  top: 450px;
  left: 370px;
}

.レジへ進む{
  position: absolute;
  top: 450px;
  left: 700px;
}

.現在の在庫状況{
  position: absolute;
  top: 450px;
  left: 370px;
}

.カートに入れる{
  position: absolute;
  top: 450px;
  left: 700px;
}



p {
  padding: 10px;
}

.商品s{
  margin: 3%,20%;
  padding: 10px;		
}

a:hover {
  color: #33eeee;
}

.btn{
  border: 1px solid black;
  border-radius: 5px;
  background-color:antiquewhite;
  padding: 20px;
  text-align: center;
  color: blue;
  width: 150px;
  padding: 10px;
}
/*拡張案1追加分*/

li {
    display: inline-block;
    padding: 10px;
}

.maru {
    height: 200px;
    width: 200px;
    color:white;
    border-radius: 50%;
    line-height: 200px;
    text-align: center;
    background: gray;
    font-size: 24px;
    margin-left: 20px;
}
.maru2 {
    height: 200px;
    width: 200px;
    color: white;
    border-radius: 50%;
    line-height: 200px;
    text-align: center;
    background: #808080;
    font-size: 24px;
    margin-left: 20px;
}
.maru3 {
    height: 200px;
    width: 200px;
    color: white;
    border-radius: 50%;
    line-height: 200px;
    text-align: center;
    background: #2b2a2a;
    font-size: 24px;
    margin-left: 20px;
}
.wrapper {
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}

.おすすめ商品画像 {
    margin-top: 400px;
    padding-top:10px;
    display: block;
}
